<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.st.stm32ide.mpu.debug.config.launchConfigurationType">
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Debug/04_ops.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="04_ops"/>
</launchConfiguration>
